# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------
src/public/media/*
!src/public/media/.gitkeep

# Vendor files
# ---------------
/src/vendor/*

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/src/storage/cache/*
!/src/storage/cache/.gitkeep

# Accounts
# ---------------

/src/storage/accounts/*
!/src/storage/accounts/.gitkeep

# Logs
# ---------------

/src/storage/logs/*
!/src/storage/logs/.gitkeep

# Sessions
# ---------------

/src/storage/sessions/*
!/src/storage/sessions/.gitkeep

# License
# ---------------

/src/site/config/.license
